body {
  // Fix for toasts showing scrollbars
  overflow: hidden;
}

md-sidenav {
  width: 325px;
}

md-item.resource {
  padding: 40px;
}

md-content {
  z-index: 0;
  &.active {
    z-index: 2;
  }
}

md-tabs {
  margin-bottom: 8px;
}

.md-toolbar-tools {
  &.main {
  }
  &.tabs {
  }
  .md-button {
    color: white;
  }
}

.md-fab .fa {
  font-size: 17pt;
  vertical-align: -9px;
}

md-tabs-ink-bar {
  height: 6px;
}

div.json {
  padding-left: 1em;
  margin: 0;
}

// Fix for Angular Material bug where some media queries use incorrect widths
@media (max-width: 1200px) and (min-width: 960px) {
  [hide]:not([show-tablet-landscape]), [hide-tablet-landscape]:not([show-tablet-landscape]) {
    display: none;
  }
}

#resourceLoadingBar {
  padding: 64px 50%;
  margin-left: -25px;
}

.md-button {
  margin: 3px 5px;
  &.small {
    font-size: 12px;
    text-transform: none;
    padding: 3px;
  }
}

.resourceType {
  cursor: pointer;
  display: block;
  clear: both;
  &.md-button {
    display: block;
    line-height: 20px;
    width: 100%;
    position: relative;
    text-align: left;
    color: inherit;
    text-transform: none;
    border-top: 1px solid #ececec;
    border-radius: 0;
    padding: 6px 16px;
    transition: none;
    &.active {
      background-color: rgba(33, 150, 243, 0.35);
    }
  }
  span.count {
    float: right;
    font-size: 11px;
    background: #3F51B5;
    padding: 1px 10px;
    border-radius: 13px;
    line-height: normal;
    margin-top: 2px;
    color: #ffffff;
  }
}

h1 .manual {
  font-size: 14px;
  color: #2196f3;
}

button.md-action {
  padding: 6px 12px;
}

ng-switch {
  z-index: -1;
}

#navCloseBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  color: white;
  text-transform: none;
}

#navLoadBtn {
  z-index: 1000;
  margin-left: 50px;
}

md-tab {
  &:focus {
    border: none;
  }
}

#welcomeScreen {
  text-align: center;
}

#search {
  position: absolute;
  bottom: 0;
  right: 0;

}

.resource {
  margin: 15px;
}

.detailProgress {
  position: absolute;
  top: -8px;
}

.mdi-checkbox-marked-circle-outline:before {
  font-size: 16px !important;
  color: green;
  vertical-align: super;
}
.mdi-checkbox-blank-circle-outline:before {
  font-size: 16px !important;
  color: red;
  vertical-align: super;
}

.manual {
  font-style: italic;
}

.access ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  li {
    display: inline-block;
  }
}

#resourceSearch {
  label, input {
    position: relative;
    color: white;
    border-color: white;
  }
}

#resourceList {
  position: fixed;
  top: 105px;
  bottom: 0;
  left: 0;
  width: 325px;
  overflow-y: auto;

  // Resource listing gutter
  &:last-child:after {
    content: "~\2022~";
    text-align: center;
    position: absolute;
    width: 100%;
    color: #e0e0e0;
    border-top: 1px solid #f0f0f0;
    padding: 4px 0 8px;
  }

  // Fancy scrollbars in the resource list
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    &-thumb {
      background-color: #3f51b5;
      border-radius: 3px;
    }
    &-track {
      background: #dddddd;
      box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.resourceDetails {
  .value {
    margin-bottom: 16px;
    font-size: 24px;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  &-thumb {
    background-color: #2196f3;
    border-radius: 6px;
  }
  &-track {
    background: #dddddd;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
}

pre {
  margin: 0;
  padding-left: 1em;
}
