<!DOCTYPE html>
<html ng-app="jasonBrowser" ng-controller="ApiBrowserController">
<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <title>{{ getPageTitle() }}</title>

  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/blue-theme.css"/>
  <link rel="stylesheet" href="bower_components/angular-material/themes/indigo-theme.css"/>
  <link rel="stylesheet" href="bower_components/mdi/materialdesignicons.css"/>
  <link rel="stylesheet" href="css/style.css"/>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/hammerjs/hammer.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>

  <script src="js/app.js"></script>
  <script src="js/services/apidata.js"></script>
  <script src="js/services/toast.js"></script>
  <script src="js/controllers/apibrowser.js"></script>
  <script src="js/controllers/resourcetype.js"></script>
  <script src="js/controllers/resourcetypelist.js"></script>
  <script src="js/controllers/resourcetypebrowser.js"></script>
  <script src="js/filters/resourcetype.js"></script>
</head>
<body layout="row" layout-fill md-theme="blue">

<md-sidenav layout="column" class="md-whiteframe-z1" md-is-locked-open="$media('min-width: 1200px')" md-component-id="nav" md-theme="indigo">
  <div ng-controller="ResourceTypeListController">
    <md-toolbar>
      <div class="md-toolbar-tools" id="resourceSearch">
        <form>
          <md-text-float md-fid="search" label="Search" ng-model="status.filter.resourceType"></md-text-float>
        </form>
        <md-button id="search" ng-click="status.filter.resourceType=''" ng-show="status.filter.resourceType.length" aria-label="clear search">
          <md-tooltip>Clear search field</md-tooltip>
          <i class="mdi mdi-filter-remove"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-content flex>
      <md-subheader>
        <div ng-hide="data.resourceTypeCount || status.loading.resourceTypes">
          No resources loaded
          <md-button ng-click="getResourceTypeList()" class="md-raised md-primary" id="navLoadBtn">Load</md-button>
        </div>
        <div ng-show="status.loading.resourceTypes">
          <div>Loading resources</div>
          <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <!--<div ng-show="data.resourceTypeCount && !status.loading.resourceTypes">-->
        <!--Displaying {{ resources_filter.length }} of {{ data.resourceTypeCount }} resources types-->
        <!--</div>-->
      </md-subheader>
      <div id="resourceList" md-theme="disabled">
        <md-button ng-repeat="resourceType in (data.resourceTypesSorted | filterResourceType:status.filter.resourceType)"
                   ng-hide="status.loading.resourceTypes || (resourceType.manual && !status.filter.showManualTypes)"
                   md-no-ink
                   class="resourceType"
                   ng-class="{active : status.activeResourceType == resourceType.plural, manual : resourceType.manual}"
                   ng-click="pickResourceType(resourceType.plural)">
          <span class="count" ng-show="data.resourceTypes[resourceType.plural].itemCount >= 0">
            {{ data.resourceTypes[resourceType.plural].itemCount | number }}
          </span>
          <span class="name">{{ resourceType.name }}</span>
        </md-button>
      </div>
    </md-content>
  </div>
</md-sidenav>

<section flex layout="column">
  <md-toolbar class="md-whiteframe-z1">
    <div class="md-toolbar-tools main">
      <md-button ng-click="toggleSidenav()" hide-gt-lg aria-label="toggle">
        <md-tooltip>Toggle sidebar</md-tooltip>
        <i class="mdi mdi-menu"></i>
      </md-button>
      Jason Explorer
      <span flex></span>
      <md-button ng-click="clear()" aria-label="Clear">
        <md-tooltip>Clear API resources</md-tooltip>
        <i class="mdi mdi-close"></i>
      </md-button>
      <md-button ng-click="getResourceTypeList()" aria-label="Refresh">
        <md-tooltip>Refresh API resources</md-tooltip>
        <i class="mdi mdi-refresh"></i>
      </md-button>
      <md-button href="https://www.dhis2.org/doc/snapshot/en/developer/html/dhis2_developer_manual_full.html"
                 target="_blank"
                 aria-label="Go to documentation">
        <md-tooltip>Open the DHIS documentation</md-tooltip>
        <i class="mdi mdi-file-document"></i>
      </md-button>
    </div>
  </md-toolbar>

  <md-content flex ng-controller="ResourceTypeController" ng-class="{active: resource && !status.loading.resourceType}" style="z-index: 5">
    <div id="resourceLoadingBar" ng-show="status.loading.resourceType">
      Loading...
      <br/><br/>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div id="welcomeScreen" ng-show="status.activeResourceType == ''">
      <h2>Welcome to Jason Explorer</h2>

      <p>
        Please select a resource in the sidebar to the left to get started.
      </p>
    </div>


    <div ng-hide="status.loading.resourceType || status.activeResourceType == ''">
      <div id="toolbarTabs">
        <md-tabs md-selected="status.currentTab" class="md-whiteframe-z1">
          <md-tab label="BROWSE"></md-tab>
          <md-tab label="DETAILS" ng-hide="!data.currentDetails"></md-tab>
          <md-tab label="JSON"></md-tab>
        </md-tabs>
      </div>
      <ng-switch on="status.currentTab">
        <!-- BROWSE TAB -->
        <md-content flex class="md-padding" ng-switch-when="0">
          <h1>
            {{ data.resourceTypes[status.activeResourceType].name }}
            <span ng-show="data.resourceTypes[status.activeResourceType].manual" class="manual">
              <md-tooltip>Not listed by the API</md-tooltip>
              Manually Added
            </span>
          </h1>
          <div ng-show="data.resourceTypes[status.activeResourceType].doc" class="doc">
            This resource type is documented in the <a ng-href="{{ data.resourceTypes[status.activeResourceType].doc }}" target="_blank">DHIS2
            documentation</a>.
          </div>
          <md-list>
            <md-item ng-repeat="resource in data.resourceTypes[status.activeResourceType].data">
              <md-item-content class="resource">
                <md-button class="md-raised md-primary" ng-click="getResourceDetails(resource.id)">{{ resource.name }}</md-button>
                <md-progress-circular
                    md-mode="indeterminate"
                    md-diameter="20"
                    class="detailProgress"
                    ng-show="status.loading.resourceDetails && status.activeResourceId == resource.id"></md-progress-circular>
              </md-item-content>
            </md-item>
          </md-list>
          <div>
            <md-button
                ng-click="getNextPage()"
                class="md-raised"
                ng-show="data.resourceTypes[status.activeResourceType].nextPage && !status.loading.nextPage">Load more
            </md-button>
            <md-progress-circular
                md-mode="indeterminate"
                md-diameter="20"
                class="pagingProgress"
                ng-show="status.loading.nextPage"></md-progress-circular>
          </div>
        </md-content>
        <!-- END: BROWSE TAB -->

        <!-- JSON TAB -->
        <md-content class="md-padding" ng-switch-when="2">
          <h1>
            {{ data.resourceTypes[status.activeResourceType].name }}
            <span ng-show="data.resourceTypes[status.activeResourceType].manual" class="manual">
              <md-tooltip>Not listed by the API</md-tooltip>
              Manually Added
            </span>
          </h1>

          <pre>{{ data.resourceTypes[status.activeResourceType].json }}</pre>
        </md-content>
        <!-- END: JSON TAB ->>

        <!-- DETAILS TAB -->
        <md-content class="md-padding" ng-switch-when="1">
          <h1>
            {{ data.resourceTypes[status.activeResourceType].name }}
            <span ng-show="data.currentDetails.name">/ {{ data.currentDetails.name }}</span>
            <span ng-show="data.resourceTypes[status.activeResourceType].manual" class="manual">
              <md-tooltip>Not listed by the API</md-tooltip>
              Manually Added
            </span>
          </h1>

          <div class="resourceDetails">
            <div class="value" ng-hide="!data.currentDetails.value"><strong>Value:</strong> {{data.currentDetails.value}}</div>
            <div class="access" ng-hide="!data.currentDetails.access">
              <strong>Access:</strong>
              <ul>
                <li>
                  <i class="mdi mdi-checkbox-marked-circle-outline" ng-show="data.currentDetails.access.update"></i>
                  <i class="mdi mdi-checkbox-blank-circle-outline" ng-hide="data.currentDetails.access.update"></i>
                  Update
                </li>
                <li>
                  <i class="mdi mdi-checkbox-marked-circle-outline" ng-show="data.currentDetails.access.externalize"></i>
                  <i class="mdi mdi-checkbox-blank-circle-outline" ng-hide="data.currentDetails.access.externalize"></i>
                  Externalize
                </li>
                <li>
                  <i class="mdi mdi-checkbox-marked-circle-outline" ng-show="data.currentDetails.access.write"></i>
                  <i class="mdi mdi-checkbox-blank-circle-outline" ng-hide="data.currentDetails.access.write"></i>
                  Write
                </li>
                <li>
                  <i class="mdi mdi-checkbox-marked-circle-outline" ng-show="data.currentDetails.access.delete"></i>
                  <i class="mdi mdi-checkbox-blank-circle-outline" ng-hide="data.currentDetails.access.delete"></i>
                  Delete
                </li>
                <li>
                  <i class="mdi mdi-checkbox-marked-circle-outline" ng-show="data.currentDetails.access.read"></i>
                  <i class="mdi mdi-checkbox-blank-circle-outline" ng-hide="data.currentDetails.access.read"></i>
                  Read
                </li>
                <li>
                  <i class="mdi mdi-checkbox-marked-circle-outline" ng-show="data.currentDetails.access.manage"></i>
                  <i class="mdi mdi-checkbox-blank-circle-outline" ng-hide="data.currentDetails.access.manage"></i>
                  Manage
                </li>
              </ul>
            </div>
            <div ng-hide="!data.currentDetails.lastUpdated"><strong>Last updated:</strong> {{data.currentDetails.lastUpdated}}</div>
            <div ng-hide="!data.currentDetails.created"><strong>Created:</strong> {{data.currentDetails.created}}</div>
            <div ng-hide="!data.currentDetails.name"><strong>Name:</strong> {{data.currentDetails.name}}</div>
            <div ng-hide="!data.currentDetails.url">
              <strong>URL:</strong>
              <a ng-href="{{data.currentDetails.url}}" target="_blank">{{data.currentDetails.url}}</a>
            </div>
            <div ng-hide="!data.currentDetails.hasOwnProperty('externalAcces')"><strong>External access:</strong>
              {{data.currentDetails.externalAccess}}
            </div>

            <div ng-hide="!data.currentDetails.items.length">
              <strong>Items:</strong>
              <md-button
                  ng-repeat="item in data.currentDetails.items"
                  class="md-raised small">
                {{ item.name }}
              </md-button>
            </div>

            <div ng-hide="!data.currentDetails.dataElements">
              <strong>Data elements:</strong>
              <md-button
                  ng-repeat="item in data.currentDetails.dataElements"
                  class="md-raised small">
                {{ item.name }}
              </md-button>
            </div>

            <md-checkbox ng-model="status.hideJSONDetails" aria-label="Show JSON">Show item JSON</md-checkbox>
            <div ng-show="status.hideJSONDetails">
              <hr>
              <pre>{{ data.resourceDetails[status.activeResourceType][status.activeResourceId].json }}</pre>
            </div>
          </div>
        </md-content>
        <!-- END: DETAILS TAB -->
</section>
</body>
</html>